.home{
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100vh;
    margin-top: 10px;
    padding: 20px;
}

.login-prompt{
  height: 100vh;
}

.flashmessage {

  background-color: #ffeb3b; 
  color: #333; 
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  max-width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flashmessage::before {
  content: "📢 ";
  font-size: 1.2rem;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .flashmessage {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}
